* {
  font-family: "Montserrat", sans-serif;
}

.ausgaben {
  display: flex;
  justify-content: space-evenly;
}

.banani {
  text-align: center;
}

#graph {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 20%;
}

.conti {
  margin-top: 6px;
  vertical-align: middle;
}

#btn {
  width: 10%;
  height: 3rem;
}

#renew {
  width: 10%;
  height: 3rem;
}

@media only screen and (max-width: 600px) {
  .ausgaben {
    display: block;
    justify-content: left;
    text-align: left;
  }

  #graph {
    width: 100%;
  }

  .conti {
      text-align: center;
  }

  #btn {
    width: 40%;
    text-align: center;
    
    margin-top: 2%;
  }

  #renew {
    width: 40%;
    text-align: center;
    
    margin-top: 2%;
  }
}

#cost {
  font-weight: bold;
}
