body {
  background-color: lightblue;
  color: white;
  font-family: verdana;
  max-width: 100%;
}

/* Responsive layout für 2 Kolonnen nebeneinander */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout damit wenn bildschirm klein bilder übereinander sind */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

title {
  color: white;
  font-size: 70px;
}

p
 {
  color: white;
  margin-left: 20px;
}

a:link, a:visited {
  background-color: tomato;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 15px;
}
table#t01 {
  width: 70%;
  background-color: grey;
  opacity: 0.97;
}
